.App {
  text-align: center;
}

.app-container {
  background-color: #282c34;
  width: 100vw; /*tomar todo el viewport*/
  height: 100vh; /*toma todo el alto del viewport*/
  display: flex;
  flex-direction: column;
  justify-content: center; /**centrar*/
  align-items: center; /*centrar*/
  color: white;
}

.logo {
  width: 400px;
}

a, input, button {
  color: white;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px 30px;
  outline: none; /*quitar linea azul del input al seleccionar*/
}

a {
  text-decoration: none;
  cursor: pointer; /*colocar la manita*/
}

input, button {
  background-color: transparent;
}

a:hover, input:focus, button:hover{
  border-color: #7de71d;
  color: #7de71d;
}



